@{
    ViewData["Title"] = "Get to Know THE Famous Joel";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <!--This has the erquired links and also the clickable image-->
    <p>
        Joel performs regularly at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>.
    </p>
    <br/>
    <p>
        Joel also adds his insights at <a href="https://baconsale.com/">Baconsale Website</a>.
    </p>
    
    <p>
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/img/BaconsaleKate.jpg" alt="Baconsale Podcast" width="300" />
        </a>
        
    </p>
</div>
