@{
    ViewData["Title"] = "Home Page";
}
<!--Main landing page with our links--->
<div class="text-center">
    <h1 class="display-4">Welcome to The Joel Hilton Film Collection </h1>
    <img src="img/JoelHiltonHeadshot.jpg" alt="Joel Hilton" width300 />
    <p>  Here is a picture of The famous Joel Hilton.</p>
    <br />
    <p> Explore and learn all about the world of film.</p>
</div>